/*Font Raleway*/ @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #FFFFFF;  
  --font-color: #000000;

  --pastel-yellow: #F4F5B5;
  --pastel-green: #CFF5C1;
  
  --green: #71F0AE;
  --blue: #59CAD9;
  --dark-blue: #59ABD9;
  --darker-blue: #5282c9;

  --gallery-bg: #59CAD9;
  --rent-bg: #59ABD9;
  --contact-bg: #5282c9;
}
*{
  margin:0;
  font-family: 'Raleway', sans-serif;

}
body{
  padding: 0;

  background: var(--background-color);
  color: var(--font-color);

  overflow-x: hidden;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
p, label{
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a{
  font-style: italic;
}
section{
  margin: 0;
  padding: 0;
  position: relative;
}

.section-title {
  text-align: center;
}
.section-description {
  text-align: center;
  margin-top: 30px;
}

/***** HEADER *****/
.logo a {
  font-style: normal;
}
#header{
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;

  max-width: 100%;
  width: 95%;
  height: 50px;
  background-color: var(--pastel-green);
  color: var(--font-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 50px;

  background: rgb(194,245,181);
  background: linear-gradient(166deg, rgba(194,245,181,1) 0%, rgba(244,245,181,1) 100%);
  box-shadow: 0px 1px 25px var(--pastel-green);
}

#header .links{
  list-style-type: none;
  display: flex;
}
#header .links li::after{
  padding: 10px;
  content: "•";
}
#header .links li:last-child:after{
  padding: 10px;
  content: "";
}
#header .links a:hover{
  transition: 0.3s;
  text-decoration: underline;
}

#list-icon{
  position: absolute;
  visibility: hidden;
  transition: right 0.4s;
}

#header .go-back {
  margin-right: 2em;
  list-style-type: none;
  display: flex;
  align-items: center; /* this is for the svg on the rent page */
}

main{
  margin-top: 75px; /*margin from header*/
}

/***** HOME *****/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 500px;

  overflow: hidden;
  position: relative;
  z-index: 50;
}
.centered-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  position: relative;
  z-index: 50;
}
#home .links{
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
#home .links li{
  padding: 10px;
  border-radius: 15px;
  transition: 0.4s;
  background-color: transparent;
}
#home .links li:hover{
  background-color: var(--pastel-yellow);
  transition: 0.3s;
}
#home .home-images img{
  position: absolute;
  z-index: 30;
}
/*Home images*/
.home-images img{
  width: 150px;
}
/*Sky*/
#cloud-1{
  top: 130px;
  left: 5%;
  transform: scaleX(-1);
}
#cloud-2{
  top: 80px;
  left: 60%;
}
#cloud-3{
  top: 120px;
  left: 80%;
}
#sun{
  top:50px;
  left:25%;
}
/*Plants*/
#palm-tree-1{
  width: 250px;
  top: 100px;
  left: 10%;
}
#palm-tree-2{
  width: 250px;
  top: 100px;
  left: 75%;
  transform: scaleX(-1);
}


#transition-home{
  position: relative;
  height: 250px;
  background-color: var(--blue);
  background-image: url('svgs/layered-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -110px;
}

/****** GALLERY *******/
#gallery{
  margin-top: -50px;
  background-color: var(--gallery-bg);
  position: relative;
  z-index: 50;
}
#gallery .carousel {
  position: relative;

  display: flex;
  align-items: center;
  
  width: 100%;
  padding: 50px;
}
#gallery .carousel svg{
  width: 48px;
}
.carousel-next, .carousel-prev{
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  background-color: var(--gallery-bg);
}
.carousel-next{
  box-shadow: -20px 0px 20px 10px var(--gallery-bg); 
}
.carousel-prev{
  box-shadow: 20px 0px 20px 10px var(--gallery-bg);
}

/*Container com as imagens*/
#gallery .carousel-container {
  display: flex;
  width: 80%;
  overflow-x: hidden;
}
#gallery .carousel-images{
  display: flex;
  position: relative;
  transition: left 0.5s;
}
#gallery .carousel-images img{
  height: 300px;
  width: 500px;
  object-fit: cover;
  margin-right: 50px;
  box-shadow: 1px 1px white, 15px 5px black;
  user-select: none;
}
/*Descrições*/
.carousel-images div{
  position: relative;
}
.carousel-description{
  /* Position */
  position: absolute;
  top: -65px;
  left: 0px;
  /* Size */
  padding: 10px;
  width: 480px;
  height: 40px;
  /* Color */
  color: white;
  background-color: transparent;
  opacity: 0.0;
  transition: background-color 0.35s, opacity 0.3s, box-shadow 0.35s;
}
#gallery .carousel-images img:hover ~ .carousel-description{
  box-shadow: 0px -1px 3px rgba(0,0,0, 0.4);
  background-color: rgba(0,0,0, 0.4);
  opacity: 1;
}

/* TRANSITION */
.transition-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.transition-gallery svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}
.transition-gallery .shape-fill {
  fill: var(--gallery-bg);
}



/*.BUTTON*/
.button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--pastel-yellow);
  border: 1px solid var(--pastel-yellow);
  border-radius: 10px;
}

/*** RENT ***/
#rent {
  background-color: var(--rent-bg);
  padding: 100px 50px 50px;
}
.rent-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*RIGHT SIDE*/
#rent .rent-description {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rent .rent-description .button{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100px;
  height: 40px;
  transition: width 0.2s, height 0.1s, margin 0.1s, border-radius 0.1s, font-weight 0.1s;
  
  margin-top: 100px;
  margin-bottom: 10px;
}
#rent .rent-description .button:hover{
  width: 110px;
  height: 50px;
  margin-top: 95px;
  margin-bottom: 5px;
  border-radius: 15px;
  font-weight: bold;
}
/*LEFT SIDE*/
.rent-images {
  border-radius: 10px;
  margin-right: 30px;
  /* background-color: var(--darker-blue); */
}
.main-image-container{
  width: 320px;
  height: 400px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-image {
  width: 280px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;

  border: 1px solid var(--rent-bg);
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}
#main-image-description{
  margin-top: 12px;
}
.preview-wrapper {
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
  /* background-color: var(--blue); */

  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 20px;
  overflow: hidden;
}
.preview-wrapper img{
  margin: 20px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.current-image {
  transition: box-shadow 0.2s;
  box-shadow: 0px 0px 5px 2px white;
}
.current-image img{
  margin: 0px;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

/* TRANSITION*/
.transition-rent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.transition-rent svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 100px;
}

.transition-rent .shape-fill {
  fill: var(--rent-bg);
}

/* CONTACT */
#contact {
  padding: 100px 30px 100px;
  height: 300px;
  background-color: var(--contact-bg);
}
#contact .me-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contact .me-description {
  margin: 50px;
  text-align: center;
}
#contact .me-links {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact .me-image img{
  border-radius: 50%;
  width: 150px;
  object-fit: cover;
}

/* FOOTER */
#footer{
  position: relative;
  z-index: 50;
  box-shadow: 0px 0px 25px #0f2444;
  background: linear-gradient(166deg, var(--pastel-green) 0%, var(--pastel-yellow) 100%);
}
/*TOP PART*/
#footer .newsletter{
  display: flex;
  height: 125px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  text-align: start;
}
#footer .newsletter-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*INPUT*/
#footer #email-input {
  width: 300px;
  height: 20px;
}
#footer #email-input:focus::placeholder{
  transition: 0.2s;
  color: rgb(207, 207, 207);
}
/*BUTTON*/
#footer .button-container {
  position: relative;
  height: 50px;
  width: 80px;
}
#footer .button {
  /*Center*/
  position: absolute;
  bottom: 5px;
  left: 5px;

  /*Size and color*/
  height: 40px;
  width: 70px;
  border: 1px solid var(--font-color);
  background-color: var(--background-color);
  border-radius: 15px;

  /*Transition*/
  transition: height 0.1s,width 0.1s,background-color 0.2s,left 0.1s,bottom 0.1s;
}
#footer .newsletter .button:hover{
  /*Center*/
  bottom: 2.5px;
  left: 2.5px;
  /*Size and color*/
  height: 45px; /* 40 -> 45 */
  width: 75px;  /* 70 -> 75 */
  background-color: rgb(226, 226, 226);
}

/*BOTTOM PART*/
#footer .footer-links{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#footer a:hover{
  text-decoration: underline;
}


@media (max-width: 700px){
  /**** HEADER ****/
  #header .links{
    /*ul things*/
    list-style-type: none;
    padding-inline-start: 0px;
    /*display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    /*position & background*/
    background: linear-gradient(80deg, rgba(194,245,181,1) 0%, rgba(244,245,181,1) 100%);
    border-radius: 3px;
    height: 200px;
    width: 200px;
    position: fixed;
    top: 70px;
    /*transition*/
    right: -200px;
    transition: right 0.5s;
  }
  #header .links.active{
    right:0;
  }
  #list-icon{
    position: absolute;
    visibility: visible;
    top: 10px;
    right: 75px;
    width: 48px;
  }

  /*** RENT ***/
  .rent-body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  #rent .rent-description .button{
    margin-top: 35px;
  }
  #rent .rent-description .button:hover{
    margin-top: 30px;
  }
  /*** FOOTER ***/
  #footer {
    height: fit-content;
  }
  #footer .newsletter {
    height: fit-content;
  }
  #footer .newsletter-form{
    height: 150px;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;  
  }
  #footer .footer-links{
    height: 175px;
    flex-direction: column;
  }
}